* {
  box-sizing: border-box;
}

.number-container {
  display: block;
  margin-bottom: 10px;
}

.number-introduce {
  border-radius: 5px;
}

.submit-container {
  margin-bottom: 10px;
}

.clue {
  display: block;
  margin-bottom: 10px;
  padding-left: 100px;
}
